<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin page</title>
    <style>
        body {
            background-color: lightskyblue;
        }

        #tabs {

            display: block;
            position: relative;
            margin-left: 500px;
            border: 1px solid white;
            height: 500px;
            width: 340px;
            padding: 10px 10px;

            /* flex-direction: column-reverse; */

        }

        #tabs button {
            text-decoration: none;
            position: relative;
            display: block;
            padding: 5px;
            border-radius: 10px;


            width: 333px;
            margin-top: 5px;



            background-color: lawngreen;
            color: white;


            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            cursor: pointer;
        }


        /* #tabs a:hover {
            background-color: black;
            color: white;
            transition: 0.7s;


        } */

  

        .delete {
            position: absolute;
            top: 25%;
            left: 600px;
            padding: 10px;
            border-top: none;
            border-left: none;
            border-right: none;
            border: 1px solid white;
            text-align: center;
            outline: none;

        }

        .deletebtn {
            position: absolute;
            top: 33%;
            left: 600px;
            padding: 5px;
            background-color: white;
            color: lightskyblue;
            outline: none;
            border: 1px solid white;
            border-radius: 5px;
            width: 192px;
            text-align: center;


        }
    </style>
</head>

<body>


    <form id="delete_form" action="/#" method="post"> </form>




    <div id="tabs">
        <form action="/postresult" method="post">

            <div style="position: relative; margin-top: 20px; margin-left:1;">
                <select name="department" style="padding:5px; border-radius: 5px; width:98%; outline: none;">

                    <option>

                        choose department </option>
                    <option name="computer science">

                        Computer science </option>
                    <option name="animal health and production">

                        Animal Health Production </option>
                    <option name="slt">

                        SLT </option>
                    <option name="hre">

                        HRE </option>

                </select>
            </div>
            <button id="post_"> Post Result </button>

        </form>
    </div>




    <script>

        delete_.addEventListener('click', () => {

            var form_ = document.getElementsByClassName('result-box')
            for (var i = 0; i < form_.length; i++) {
                var form_list = form_[i]
                form_list.style.display = "none"
            }

            var tabs = document.getElementById('tabs')
            var matric_ = document.createElement('input')
            matric_.placeholder = "Enter matric"
            var delet_btn = document.createElement('input')
            delet_btn.type = 'submit'
            delet_btn.value = 'delete result'
            delet_btn.className = "deletebtn"
            var delete_form = document.getElementById('delete_form');
            delete_form.appendChild(matric_)
            delete_form.appendChild(delet_btn)
            matric_.className = "delete"
            delete_form.style.display = "block"
            tabs.style.display = "none"



        })
    </script>
</body>

</html>