<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Checker</title>
    <style>
        body {
            background-color: lightskyblue;
        }

        #result_info {
            display: block;
            position: relative;
            height: 300px;
            width: 250px;
            border: 1px dotted green;
            padding: 10px;
            margin-top: 20px;
            margin-left: 500px;
            border-radius: 5px;


        }

        #result_info form {
            position: relative;
            margin-top: 100px;
            margin-left: 40px;

        }

        form input {
            padding: 10px;
            border-color: none;
            border-left: none;
            border-top: none;
            border-right: none;
            border-color: green;

        }

        form select,
        button {
            position: relative;
            margin-top: 10px;
        }

        form select {
            padding: 5px;

        }

        form button {
            padding: 5px;
            border-radius: 5px;
            background-color: green;
            color: white;
        }
    </style>
</head>

<body>
    <span>
        <%=message%>
    </span>
    <div id="result_info">
        <form action="/result" , method="post">
            <input type="text" placeholder="Enter your matric" name="matric" />
            <select name="semester">
                <option name="first">First </option>
                <option name="second"> Second</option>
                <option name="third"> Third </option>
                <option name="fourth"> Fourth </option>
            </select>
            <button> Check Result </button>
        </form>
    </div>



    <%- include('./partials/footer')%>

</body>

</html>