<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: lightskyblue;
        }

        .result-box {
            width: 300px;
            height: auto;
            /* display: none; */
            margin-top: 5px;


            border: 1px solid lightgray;
            text-align: center;

        }


        .result-box h3 {
            color: white;
        }



        /* #result-box form {
            display: none;
        } */

        .result-box form input {
            margin-top: 5px;
            border-top: none;
            border-left: none;
            border-right: none;
            padding: 10px;
            border-color: white;
            background-color: lightskyblue;
            outline: none;
        }

        .result-box form button {
            width: 180px;
            background-color: white;
            color: lightskyblue;
            display: block;
            padding: 5px;
            position: relative;
            margin-left: 60px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid white;
            margin-bottom: 10px;




        }

       
    </style>
</head>

<body>

    <div style="display: flex;  justify-content: space-around;">

        <div class="result-box">
            <h3> First Semster </h3>
            <form action="/firstsemester" method="post">
                <input type="text" placeholder="matric" />
                <input type="text" placeholder="com" />
                <input type="text" placeholder="gns " />
                <input type="text" placeholder="eed" />

                <button> Submit</button>


            </form>

        </div>
        <div class="result-box">
            <h3> Second Semester </h3>
            <form action="/secondsemester" method="post">
                <input type="text" placeholder="matric" />
                <input type="text" placeholder="com" />
                <input type="text" placeholder="gns " />
                <input type="text" placeholder="eed" />

                <button> Submit</button>


            </form>

        </div>
        <div class="result-box">
            <h3> Third Semester</h3>
            <form action="/thirdsemester" method="post">
                <input type="text" placeholder="matric" />
                <input type="text" placeholder="com" />
                <input type="text" placeholder="gns " />
                <input type="text" placeholder="eed" />

                <button> Submit</button>


            </form>

        </div>
        <div class="result-box">
            <h3> Fourth Semester</h3>
            <form action="/fourthsemester" method="post">
                <input type="text" placeholder="matric" />
                <input type="text" placeholder="com" />
                <input type="text" placeholder="gns " />
                <input type="text" placeholder="eed" />

                <button> Submit</button>


            </form>

        </div>

    </div>


</body>

</html>