<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: lightskyblue;
        }

        .dashNav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .dashNav a {
            text-decoration: none;
            border-radius: 10px;

            margin: 10px;
            background-color: lawngreen;
            color: white;
            padding: 5px 12px;
        }

        .dashNav a.active {
            background-color: red;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .dashNav a:hover,
        a:focus {
            background-color: black;
            transition: 0.9s;


        }
    </style>
</head>

<body>



    <div class="dashNav">
        <a href="/result"> Result Checker </a>

        <a href="#"> Resources </a>
        <a href="/profile"> Profile</a>
        <a class="active" href="/logout"> Logout </a>
    </div>
    <p>
        Welcome <%=result.name%>


    </p>
    <%- include('./partials/footer')%>

</body>

</html>