<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .reg-form {
            width: 300px;
            height: 500px;






        }

        form label {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: grey;

        }

        label input,
        button {

            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid grey;
        }

        label button {
            background-color: aqua;
            color: grey;
            width: 190px;
        }

        .navig {
            height: 400px;
            background-color: lawngreen;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 5px;

        }

        .navig h2 {
            text-align: center;
        }

        .navig p {
            position: absolute;
            top: 260px;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .navig a {
            position: absolute;
            top: 330px;
            color: lawngreen;
            background-color: white;
            border-radius: 5px;
            padding: 5px 12px;
            margin-top: 15px;
            text-decoration: none;


        }

        .services {
            margin-top: 5px;
            height: 400px;

            background-color: white;
            color: lawngreen;
            display: flex;
            justify-content: space-around;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 5px;

        }



        .serviceBox {
            width: 400px;
            height: 300px;

            color: white;
            opacity: 0.6;
            color: lawngreen;
            padding: 2px 8px;
            border: 1px dotted green;



        }

        .serviceBox h3 {

            background-color: lawngreen;
            color: white;
            border-radius: 50px;
            width: 50%;


            text-align: center;
            margin-left: auto;
            margin-right: auto;

        }

        .foot {
            margin-top: 5px;
            height: 200px;
            background-color: lawngreen;

        }

        .open {
            display: none;
            color: lawngreen;
            font-size: 20px;
            cursor: pointer;
        }

        @media screen and (max-width:650px) {
            .navig {
                width: 100%;
                font-size: 20px;
                justify-content: space-around;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                flex-wrap: nowrap;


            }

            .navig h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
            }

            .navig p {
                position: absolute;
                top: 260px;
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .navig a {
                position: absolute;
                top: 300px;
                color: lawngreen;
                background-color: white;
                border-radius: 5px;
                padding: 5px 12px;
                margin-top: 15px;
                text-decoration: none;


            }

            .services {
                display: flex;
                flex-direction: column;
                height: 890px;
                align-items: center;
                padding: 3px;

            }

            .serviceBox {
                padding: 3px;
                width: 340px;
                margin-top: 2px;

            }

            .open {
                display: block;
            }

        }

        .overlay {
            width: 0%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            transition: 0.9s;
            overflow-x: hidden;
            display: block;
            background-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0.3);

        }

        .content {
            position: relative;
            width: 100%;
            top: 20%;
            text-align: center;

        }

        .content a {
            padding: 10px;
            text-decoration: none;
            display: block;
            font-size: 16px;
            color: lawngreen;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


        }

        .content a:hover,
        .content a:focus {
            background-color: lawngreen;
            color: white;
        }

        .closebtn {
            position: absolute;
            right: 30px;
            top: 15px;
            font-size: 40px;
            cursor: pointer;
            color: lawngreen;
        }
    </style>
</head>

<body>
    <%- include('./partials/header')%>
        <span class="open" id="open" onclick="openNav()"> &#9776;</span>
        <div class="overlay" id="Overlay">
            <a class="closebtn" onclick="closeNav()"> &times;</a>
            <div class="content">
                <a href="/"> Home </a>
                <a href="/login"> Login </a>
                <a href="/register"> Register</a>
             
            </div>
        </div>
        <script>
            function openNav() {
                document.getElementById('Overlay').style.width = "100%";

            }
            function closeNav() {
                document.getElementById('Overlay').style.width = "0%";


            }

        </script>
        <div class="navig">

            <h2> SCHOOL NO BE SCAM, MAKE DEM NO LIE YOU!</h2>


            <a href="#"> Learn more</a>


        </div>
        <h1 style="color:lawngreen; text-align:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            SCHOOL RESULT CHECKER AND EDUCATIONAL RESOURCES FOR STUDENTS BENEFITS </h1>
        <div class="services">

            <div class="serviceBox">
                <h3> RESULT CHECKER </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>

            <div class="serviceBox">
                <h3> RESOURCES </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>

            <div class="serviceBox">
                <h3> STUDENT VALIDITY </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>
        </div>

        <div class="foot">

        </div>

        <%- include('./partials/footer')%>




</html>