<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        body {
            background-color: lightskyblue;
        }

        .reg-form {
            width: 300px;
            height: 500px;
            text-align: center;






        }

        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        form label {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: aqua;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }

        label input,
        select,
        button {

            margin-top: 5px;
            padding: 10px;

            border-top: none;
            border-left: none;
            border-right: none;

            outline: none;

        }

        label button {
            background-color: aqua;
            color: grey;
            width: 190px;
        }

        #response {
            position: relative;
            margin-left: 50px;
            color: red;

        }
    </style>
</head>

<body>

    <%- include('./partials/header')%>


        <div class="reg-form">

            <form action="/register" method="POST">

                <label>

                    <input type="text" placeholder="Surname" name="Surname" required />
                </label>
                <label>

                    <input type="text" placeholder="Firstname" name="Firstname" required />
                </label>
                <label>

                    <input type="email" placeholder="Email" name="Email" required />

                </label>

                <label>

                    <input type="text" placeholder="Matric Number" name="matric" required />
                </label>

                <label>
                    <select name="department">
                        <option name="computer science">COMSCI</option>

                        <option name="computer engineering">COMENG</option>
                        <option name="slt"> SLT </option>
                        <option name="agric tech">AGT </option>
                        <option name="animal health"> AGT </option>
                        <option name="library studies"> LIS </option>
                        <option name="statistics"> STATISTICS </option>
                        <option name="home rural economics"> HRE </option>
                    </select>

                    <input type="password" placeholder="Password" name="Password" required />
                </label>
                <label>

                    <input type="date" placeholder="Date" name="dob" required />
                </label>

                <label>
                    <button type="submit"> Submit </button>
                </label>
            </form>
        </div>
        </form>

</body>

</html>